* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray ;
}

p { color: #777777 }
a { color: #777777 }

header {
    width: 960px;
    /* background-color: white; */
    /* padding: 20px; */
    /* border: 10px;*/
    margin-left: auto; 
    margin-right: auto;
}

.header-all {
    height: 40px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.header-part-1 {
    float: left;
    background-color: #ffffff;
    color: #303030;
    /* padding: 20px; */
    width: 15%;
}

.header-part-2 {
    float: left;
    background-color: #4aaaa5;
    color: white;
    width: 20%;

}
.header-part-3 {
    float: left;
    background-color: #ffffff;
    color:#303030;
    width: 50%;
    text-align: right;
}

.header-part-4 {
    float: right;
    background-color: #ffffff;
    color: #303030;
    width: 15%;
}

.header-part-5 {
    clear: both;
    margin: 0;
    padding: 0;
    height: 1px;
    width: 100%;
    background-color: #666666;
}

.content-container {
    /* background-color: #ffffff;   */
    overflow: auto;
    border-bottom-width: 20px;
    border-bottom-color: #dddddd;
    /* height: 60px; */
    background-color: red;
    /* background-image: url(assets/img/textured_paper.png) lightgray; */
    background-image: url("textured_paper.png") lightgray;
    background-color: transparent;
}

.content {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    color: white;
    font-size: .6em;
    background-color: #666666;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 8px solid #4aaaa5;
}

/* .container-2 {
    width: 960px;
    padding: 20px;
    border-width: 10px; 
    border-color: red; 
} */